@import '~assets/scss/index.scss';

.Messages {
  width: $messages-container-width;
  height: $messages-container-height;
  position: relative;
}

.Text {
  margin-bottom: 10px;
  text-align: left;
}

.Date {
  margin-bottom: 10px;
}

.Batman {
  margin: 10px 0 10px 100px;
  padding: 5px;
  color: $white;
  background: $blue;
  border-radius: 5px;
  text-align: right;
}

.Robin {
  margin: 10px 100px 10px 0;
  padding: 5px;
  color: $white;
  background: $green;
  border-radius: 5px;
  text-align: left;
}

.Output {
  width: $messages-container-output-width;
  height: $messages-container-output-height;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.Send {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.SendForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SendButton {
  width: 100px;
  height: 20px;
  color: $white;
  background: $blue;
}