// MESSAGES
$messages-container-width: 70%;
$messages-container-height: 100%;

// DRAWER
$drawer-container-width: calc(100% - #{$messages-container-width});
$drawer-container-height: 100%;

// OUTPUT
$messages-container-output-width: 100%;
$messages-container-output-height: calc(#{$messages-container-height} - 70px);

// COLORS
$white: #fff;
$black: #000;

$blue: #0088cc;
$green:#4CBB17;
$red: #FF2800;
$purple: #52307c;
$orange: #ed553D;