@import '~assets/scss/index.scss';  

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0,0,0, .6);
  box-shadow: 
    0 5px 8px 0 rgba(0,0,0,0.2),
    0 7px 20px 0 rgba(0,0,0,0.17);
  transition: all .8s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Modal {
  margin-top: 100px;
  background: white;
  position: relative;
}

.Header {
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}

.HeaderTitle {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  color: $black;
}

.Body {
  padding: 10px 15px;
  text-align: center;
}

.Footer {
  height: 35px;
  padding: 15px;
}

.Close {
  color: black;
  cursor: pointer;
  float: right;
  font-size: 30px;
  line-height: 35px;
  margin: 0;

  &:hover {
    color: black;
  }
}

.Cancel,
.Continue {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.Cancel {
  background-color: #b71c1c;
  float: left;
}

.Continue {
  background-color: #1b5e20;
  float: right;
}

.Drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.Open {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}
